{% extends 'rentals/base.html' %} {% block content %}
<h2>Equipment List</h2>

<a href="{% url 'equipment_create' %}">Add Equipment</a>

<ul>
    {% for equipment in object_list %}
    <li>
        <a href="{% url 'equipment_detail' equipment.pk %}">
                {{ equipment.name }}
            </a>
    </li>
    {% endfor %}
</ul>

{% if is_paginated %}
<div>
    {% if page_obj.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a> {% endif %}

    <span>
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span> {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">Last</a> {% endif %}
</div>
{% endif %} {% endblock %}